.message-list {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 0px 20px 0px 35px;
}
.message-list__column {
  color: var(--gray-text);
  font-size: 14px;
  line-height: 16px;
  padding-bottom: 10px;
}
.message-list__column h1 {
  color: var(--black);
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 6px;
}
.message-list__time {
  display: flex;
  align-items: center;
}
.message-list__time i {
  margin-left: 15px;
  color: var(--gray-chevron);
}
.message-list__column:last-child {
  margin-left: 15px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  border-bottom: 1px solid var(--gray-border);
}
.message-list__column img {
  object-fit: cover;
  width: 60px;
  height: 60px;
  border-radius: 50%;
}
